{% extends 'base.html.twig' %}

{% block title %}Dashboard Infirmière{% endblock %}

{% block body %}
    <h1>Bienvenue sur le tableau de bord des infirmières</h1>
    <p>Bienvenue, {{ app.user.login }}</p>
{% endblock %}
